/*
Error: $color: 'theme-color("primary")' is not a color for `darken'
        on line 171 of node_modules/bootstrap/scss/_variables.scss
        from line 2 of shared/scss/_card-columns.scss

Backtrace:
node_modules/bootstrap/scss/_variables.scss:171
shared/scss/_card-columns.scss:2
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:311:in `reformat_argument_error'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:158:in `rescue in _perform'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/script/tree/funcall.rb:127:in `_perform'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:478:in `visit_variable'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `map'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
/usr/lib/ruby/gems/2.6.0/gems/sass-3.7.2/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: 'theme-color(\"primary\")' is not a color for `darken'\A         on line 171 of node_modules/bootstrap/scss/_variables.scss\A         from line 2 of shared/scss/_card-columns.scss"; }
