/* Inspired by https://codepen.io/nishant88/pen/yYyePL */
.rotate {
    -webkit-perspective: 600;   
    -moz-perspective: 600;   
    perspective: 600;
}

.rotate .card.rotated {
    -webkit-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}

.rotate .card {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.rotate .card .face {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotate .card .back {
    -webkit-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
