.progress-bar {
    color: #333;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 1rem;
}

.no-text-decoration {
    text-decoration: none
}

.full-card { 
  position:absolute; 
  width:100%;
  height:100%;
}

.full-card:hover ~ .full-card-title{
  text-decoration: underline;
  color: #007BFF;
}

.full-card-title:hover {
  color: blue !important;
}

.accordion .card {
    overflow: inherit;
}

.formContainer {
    position: relative;
}

.hidden {
    display: none !important;
}

.td-text {
    white-space: pre;
}
