<!--deleteSemester-Modal-->
<div class="modal fade" id="deleteSemesterModal" role="dialog" aria-labelledby="deleteSemesterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="deleteSemesterModalLabel" data-i18n="moduleDetails.semesters.delete.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="moduleDetails.semesters.delete.description"></p>
            </div>
            <div class="modal-footer">
                <form method="post" name="deleteSemester">
                    <input type="hidden" id="deleteSemesterType" name="deleteSemesterType">
                    <input type="hidden" id="deleteSemesterYear" name="deleteSemesterYear">
                    <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="cancel"></button>
                    <button type="submit" name="deleteSemesterButton" class="btn btn-danger translatable" data-i18n="moduleDetails.semesters.delete.button"></button>
                </form>
            </div>
        </div>
    </div>
</div>
