<!--deleteTokenList-Modal-->
<div class="modal fade" id="deleteTokenListModal" role="dialog" aria-labelledby="deleteTokenListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="deleteTokenListModalLabel" data-i18n="courseDetails.sendQuestionsets.tokenList.delete.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="courseDetails.sendQuestionsets.tokenList.delete.description"></p>
            </div>
            <div class="modal-footer">
                <form method="post" name="deleteTokenList">
                    <input type="hidden" name="deleteTokenListCourseID" id="deleteTokenListCourseID">
                    <input type="hidden" name="deleteTokenListID" id="deleteTokenListID">
                    <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="cancel"></button>
                    <button type="submit" name="deleteTokenListButton" class="btn btn-danger translatable" data-i18n="courseDetails.sendQuestionsets.tokenList.delete.button"></button>
                </form>
            </div>
        </div>
    </div>
</div>
