<!--deleteModule-Modal-->
<div class="modal fade" id="deleteModuleModal" role="dialog" aria-labelledby="deleteModuleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="deleteModuleModalLabel" data-i18n="moduleDetails.delete.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="moduleDetails.delete.description"></p>
            </div>
            <div class="modal-footer">
                <form method="post" name="deleteModule">
                    <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="cancel"></button>
                    <button type="submit" name="deleteModuleButton" class="btn btn-danger translatable" data-i18n="moduleDetails.delete.button"></button>
                </form>
            </div>
        </div>
    </div>
</div>
