<!--deleteCourse-Modal-->
<div class="modal fade" id="deleteCourseModal" role="dialog" aria-labelledby="deleteCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="deleteCourseModalLabel" data-i18n="courseDetails.delete.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="courseDetails.delete.description"></p>
            </div>
            <div class="modal-footer">
                <form method="post" name="deleteCourse">
                    <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="cancel"></button>
                    <input type="hidden" name="courseID" value="<?php echo $_GET["id"]?>">
                    <button type="submit" name="deleteCourseButton" class="btn btn-danger translatable" data-i18n="courseDetails.delete.button"></button>
                </form>
            </div>
        </div>
    </div>
</div>
