<!--deleteQuestionset-Modal-->
<div class="modal fade" id="deleteQuestionsetModal" role="dialog" aria-labelledby="deleteQuestionsetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="deleteQuestionsetModalLabel" data-i18n="courseDetails.questionsets.delete.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="courseDetails.questionsets.delete.description"></p>
            </div>
            <div class="modal-footer">
                <form method="post" name="deleteQuestionset">
                    <input type="hidden" id="deleteQuestionsetID" name="deleteQuestionsetID">
                    <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="cancel"></button>
                    <button type="submit" id="deleteQuestionsetButton" name="deleteQuestionsetButton" class="btn btn-danger translatable" data-i18n="courseDetails.questionsets.delete.button"></button>
                </form>
            </div>
        </div>
    </div>
</div>
