<!--Signup-Modal-->
<div class="modal fade" id="editProfileModal" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="editProfileModalLabel" data-i18n="nav.editProfile.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.editProfile.description"></p>
                <form method="post" name="signup">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <select id="editProfileTitle" class="form-control" name="editProfileTitle">
                                <option selected>Anrede...</option>
                                <option>Prof.</option>
                                <option>Dr.</option>
                                <option>Prof. Dr.</option>
                                <option>Herr</option>
                                <option>Frau</option>
                            </select>
                        </div>
                        <div class="form-group btn-group offset-md-5 col-md-3" role="group" aria-label="Language selector">
                            <button class="btn btn-primary language-button" type="button" id="languageDEButtonEditProfile" alt="de">
                                <img src="img/de.svg" width="30" alt="de">
                            </button>
                            <button class="btn btn-secondary language-button" type="button" id="languageENButtonEditProfile" alt="en">
                                <img src="img/en.svg" width="30" alt="en">
                            </button>
                        </div>
                        <input type="hidden" id="editProfileLanguage" name="editProfileLanguage" value="en">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control translatable" id="editProfileFirstName" name="editProfileFirstName" data-i18n="[placeholder]nav.editProfile.editProfileFirstName">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control translatable" id="editProfileLastName" name="editProfileLastName" data-i18n="[placeholder]nav.editProfile.editProfileLastName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control translatable" id="editProfileEmail" name="editProfileEmail" data-i18n="[placeholder]nav.editProfile.editProfileEmail">
                            <small id="emailHelp" class="form-text text-muted translatable" data-i18n="nav.editProfile.editProfileEmailHelp"></small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control mb-sm-4 translatable passwordNew" id="editProfilePassword" name="editProfilePassword" data-i18n="[placeholder]nav.editProfile.editProfilePassword">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control mb-sm-4 translatable passwordConfirm" id="editProfilePasswordConfirm" name="editProfilePasswordConfirm" data-i18n="[placeholder]nav.editProfile.editProfilePasswordConfirm">
                        </div>
                    </div>
                    <div class="float-right">
                        <div>
                            <button type="button" id="editProfileCloseButton" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="close"></button>
                            <button type="submit" id="editProfileSubmitButton" name="editProfileButton" class="btn btn-primary translatable" data-i18n="save" disabled></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
