<!--Login-Modal-->
<div class="modal fade animated" id="loginModal" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="loginModalDialog">
        <div class="modal-content">
            <div class="modal-header">
                <?php
                    if (isset($_SESSION["error"]) && $_SESSION["error"]){
                        echo '<h5 class="modal-title text-danger translatable" id="loginModalLabel" data-i18n="nav.login.title.failed"></h5>';
                    } else {
                        echo '<h5 class="modal-title translatable" id="loginModalLabel" data-i18n="nav.login.title.login"></h5>';
                    }
                ?>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.login.description.login"></p>
                <form method="post" name="login">
                    <div class="form-group">
                        <input type="email" class="form-control translatable" id="loginEmail" name="loginEmail" aria-describedby="emailHelp" data-i18n="[placeholder]nav.login.loginEmail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control translatable" id="loginPassword" name="loginPassword" data-i18n="[placeholder]nav.login.loginPassword">
                        <a href="#" id="resetPassword" class="form-text text-muted translatable" data-dismiss="modal" data-toggle="modal" data-target="#resetPasswordRequestModal" data-i18n="nav.login.resetPassword"></a>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                        <label class="form-check-label translatable" for="rememberMe" data-i18n="nav.login.rememberMe"></label>
                    </div>
                    <div class="float-right">
                        <div>
                            <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="close"></button>
                            <button type="submit" name="loginButton" class="btn btn-primary translatable" data-i18n="nav.login.button"></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="translatable" data-i18n="nav.login.notSignedUp"></p>
                <p><a href="#" class="translatable" data-dismiss="modal" data-toggle="modal" data-target="#signupModal" data-i18n="nav.login.toSignUp"></a></p>
            </div>
        </div>
    </div>
</div>
