<!--Logout-Modal-->
<div class="modal fade" id="logoutModal" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="logoutModalLabel" data-i18n="nav.logout.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.logout.description"></p>
            </div>
            <div class="modal-footer">
                <form method="post" name="logout">
                    <button type="button" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="cancel"></button>
                    <button type="submit" name="logoutButton" class="btn btn-primary translatable" data-i18n="confirm"></button>
                </form>
            </div>
        </div>
    </div>
</div>
