<!--Signup-Modal-->
<div class="modal fade" id="newPasswordModal" role="dialog" aria-labelledby="newPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="newPasswordModalLabel" data-i18n="nav.resetPassword.new.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.resetPassword.new.description"></p>
                <form method="post" action="home.php" name="signup">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control mb-sm-4 translatable passwordNew" id="newPassword" name="newPassword" data-i18n="[placeholder]nav.signup.signupPassword">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control mb-sm-4 translatable passwordConfirm" id="newPasswordConfirm" name="newPasswordConfirm" data-i18n="[placeholder]nav.signup.signupPasswordConfirm">
                        </div>
                        <input type="hidden" id="resetPasswordToken" name="resetPasswordToken" value="null">
                    </div>
                    <div class="float-right">
                        <div>
                            <button type="button" id="newPasswordCloseButton" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="close"></button>
                            <button type="submit" id="newPasswordSubmitButton" name="newPasswordButton" class="btn btn-primary translatable" data-i18n="confirm" disabled></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="translatable" data-i18n="nav.signup.alreadySignedUp"></p>
                <p><a href="#" class="translatable" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" data-i18n="nav.signup.toLogin"></a></p>
            </div>
        </div>
    </div>
</div>
