<!--ResetPasswordRequest-Modal-->
<div class="modal fade" id="resetPasswordRequestModal" role="dialog" aria-labelledby="resetPasswordRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="resetPasswordRequestModalLabel" data-i18n="nav.resetPassword.request.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.resetPassword.request.description"></p>
                <form method="post" name="resetPassword">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control mb-sm-4 translatable" id="resetPasswordRequestEmail" name="resetPasswordRequestEmail" data-i18n="[placeholder]nav.resetPassword.request.email">
                        </div>
                    </div>
                    <div class="float-right">
                        <div>
                            <button type="button" id="resetPasswordRequestCloseButton" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="close"></button>
                            <button type="submit" id="resetPasswordRequestSubmitButton" name="resetPasswordRequestButton" class="btn btn-primary translatable" data-i18n="nav.resetPassword.request.button"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
