<!--ResetPasswordConfirm-Modal-->
<div class="modal fade" id="resetPasswordConfirmModal" role="dialog" aria-labelledby="resetPasswordConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="resetPasswordConfirmModalLabel" data-i18n="nav.resetPassword.confirm.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.resetPassword.confirm.description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary translatable" data-dismiss="modal" data-i18n="confirm"></button>
            </div>
        </div>
    </div>
</div>
