<!--Signup-Modal-->
<div class="modal fade" id="signupModal" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="signupModalLabel" data-i18n="nav.signup.title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.signup.description"></p>
                <form method="post" name="signup">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <select id="inputTitle" class="form-control" name="signupTitle">
                                <option selected>Anrede...</option>
                                <option>Prof.</option>
                                <option>Dr.</option>
                                <option>Prof. Dr.</option>
                                <option>Herr</option>
                                <option>Frau</option>
                            </select>
                        </div>
                        <div class="form-group btn-group offset-md-5 col-md-3" role="group" aria-label="Language selector">
                            <button class="btn btn-primary language-button" type="button" id="languageDEButtonSignup" alt="de">
                                <img src="img/de.svg" width="30" alt="de">
                            </button>
                            <button class="btn btn-secondary language-button" type="button" id="languageENButtonSignup" alt="en">
                                <img src="img/en.svg" width="30" alt="en">
                            </button>
                        </div>
                        <input type="hidden" id="signupLanguage" name="signupLanguage" value="en">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control translatable" id="signupFirstName" name="signupFirstName" data-i18n="[placeholder]nav.signup.signupFirstName">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control translatable" id="signupLastName" name="signupLastName" data-i18n="[placeholder]nav.signup.signupLastName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="email" class="form-control translatable" id="signupEmail" name="signupEmail" data-i18n="[placeholder]nav.signup.signupEmail">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control mb-sm-4 translatable passwordNew" id="signupPassword" name="signupPassword" data-i18n="[placeholder]nav.signup.signupPassword">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="password" class="form-control mb-sm-4 translatable passwordConfirm" id="signupPasswordConfirm" name="signupPasswordConfirm" data-i18n="[placeholder]nav.signup.signupPasswordConfirm">
                        </div>
                    </div>
                    <div class="float-right">
                        <div>
                            <button type="button" id="signupCloseButton" class="btn btn-secondary translatable" data-dismiss="modal" data-i18n="close"></button>
                            <button type="submit" id="signupSubmitButton" name="signupButton" class="btn btn-primary translatable" data-i18n="nav.signup.button" disabled></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="translatable" data-i18n="nav.signup.alreadySignedUp"></p>
                <p><a href="#" class="translatable" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" data-i18n="nav.signup.toLogin"></a></p>
            </div>
        </div>
    </div>
</div>
