<!--Welcome-Modal-->
<div class="modal fade" id="welcomeModal" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title translatable" id="welcomeModalLabel" data-i18n="nav.login.title.welcome"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small translatable" data-i18n="nav.login.description.welcome"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary translatable" data-dismiss="modal" data-i18n="close"></button>
            </div>
        </div>
    </div>
</div>
